.header {
	padding: 10 25;

	.icon {
		font-size: 24;
		width: 24;
		height: 24;
		margin: 0 15 0 0;
		vertical-align: center;
	}

	.title {
		font-size: 22;
		vertical-align: center;
	}
}

.result {
	font-size: 20;
	margin: 5 10;
}
