@import "~@nativescript/theme/core";
@import "./theme";
@import '~@nativescript/theme/index';


.mdi {
	font-family: "Material Design Icons", "materialdesignicons", "materialdesignicons-webfont";
	font-weight: normal;
	font-size: 16;
}

.active.active.active.active.active.active.active.active.active.active {
	background-color: #1a237e;
}
